/* folhade estilo da Pagina index */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
:root{
    --cor0: #629cf3;
    --cor1: #3e68a8;
    --cor2: #1c304e;
}
body {
    background-image: linear-gradient(180deg, var(--cor0), var(--cor1));
    background-attachment: fixed; 
    text-align: center;
    }

h1 {
    color: #05fc09;
    text-shadow: rgba(0, 0, 0, 0.582) 0.1em 0.1em 0.2em;
    font-family: 'Rampart One', Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

span{
    color: white;
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    
}

nav{
    font-family: 'Rampart One', Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
}

nav > a {
    color: white;
    padding: 8px;
    text-decoration: none;
    transition-duration: 2s;
}

nav > a:hover {
    color: #05fc09;
}

.rod{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.rod > a > img {
    width: 30px;
    
}

picture {
    cursor: default;
}
    

    
    
   



   

 