*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #DCB247EE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 210px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #DCB247EE;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: silver;
    color: black;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
    border: 2px solid white;
}
.picture{
    width: 160px;
    border-radius: 25px;
}

.description{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 21px;
}

.description p{
    font-size: 16px;
}

@media (max-width: 600px){
    .formContainer{
        float: left; 
        padding: 0 16px;   
    }
    .description h3{
        font-size: 17px;
        margin-top: 10px;
        text-align: left;
    }
    .container{
        min-width: 400px;
    }
    .description p{
        text-align: justify;
    }
    .picture{
        width: 210px;
    }
    h2{
        padding-top: 10px;
    }
}